@import "../../../commonstyle/var";
@import "../../../commonstyle/base";

$menu-bg: #FFFFFF;
$menu-item-bg: #FAFAFA;
$menu-hover: #FFFFFF;
$menu-item-hover: #F7F7F7;
$icon-hover-color: #EB3941;

.product-cube-left {
    display: inline-block;
    width: 38%;
    background-color: #FFFFFF;
    height: 720px;
    @extend %cube-shadow;
    .product-cube-title {
        height: 56px;
        line-height: 56px;
        padding: 0 20px;
        border-bottom: 1px solid #F9F9F9;
        font-weight: bold;
        background-color: #F7F7F7;
        .icon-style {
            float: right;
            cursor: pointer;
            &:hover {
                color: $hover-color;
            }
        }
    }
    .product-list-menu {
        height: 600px;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        .el-submenu__title {
            border-bottom: 1px solid #F9F9F9;
            .menu-icon-style {
                color: #48576A;
                float: right;
                margin-right: 10px;
                transform: translateY(-2px);
                cursor: pointer;
                &:hover {
                    color: $icon-hover-color;
                }
            }
        }
        .el-menu-item {
            border-bottom: 1px solid #F9F9F9;
            position: relative;
            background-color: $menu-item-bg;
            .menu-icon-style {
                color: #48576A;
                float: right;
                margin-right: 10px;
                transform: translateY(-2px);
                cursor: pointer;
                &:hover {
                    color: $icon-hover-color;
                }
                &:first-child {
                    margin-right: 0;
                }
            }
        }
        ul.el-menu {
            background-color: $menu-bg;
        }
        .el-submenu .el-menu-item:hover {
            background-color: $menu-item-hover;
            color: #48576A;
        }
        .el-submenu .el-submenu__title:hover {
            background-color: $menu-hover;
            color: #48576A;
        }
    }
}

.product-cube-right {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 60%;
    background-color: #FFFFFF;
    height: 720px;
    transition: transform .5s ease;
    @extend %cube-shadow;
    .product-title {
        height: 45px;
        line-height: 45px;
        @extend %cube-title;
    }
    .html-box {
        display: inline-block;
        width: 96%;
        margin: 20px 2%;
        max-height: 635px;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.product-cube-edit {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 60%;
    background-color: #FFFFFF;
    height: 720px;
    transition: transform .5s ease;
    overflow: hidden;
    @extend %cube-shadow;
    .edit-btn-list {
        position: absolute;
        height: 90px;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 25px 0;
        text-align: center;
    }
}

//弹框
.add-image-btn {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border: 1px dashed #CCCCCC;
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    color: #CCCCCC;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        border: 1px dashed #20A0FF;
        color: #FF5D5D;
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        cursor: pointer;
        z-index: 100;
    }
    .result-image {
        position: absolute;
        width: 79px;
        height: 79px;
        top: 0;
        left: 0;
        z-index: 50;
        cursor: pointer;
    }
}
