@import "../../../commonstyle/var";
@import "../../../commonstyle/base";

$menu-bg: #FFFFFF;
$menu-item-bg: #FAFAFA;
$menu-hover: #FFFFFF;
$menu-item-hover: #F7F7F7;
$icon-hover-color: #EB3941;

.product-check-cube-left {
    display: inline-block;
    width: 33%;
    background-color: #FFFFFF;
    height: 720px;
    @extend %cube-shadow;
    .product-cube-title {
        height: 56px;
        line-height: 56px;
        padding: 0 20px;
        border-bottom: 1px solid #F9F9F9;
        font-weight: bold;
        background-color: #F7F7F7;
        .icon-style {
            float: right;
            cursor: pointer;
            &:hover {
                color: $hover-color;
            }
        }
    }
    .product-list-menu {
        height: 600px;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        .el-submenu__title {
            border-bottom: 1px solid #F9F9F9;
            .menu-icon-style {
                color: #48576A;
                float: right;
                margin-right: 10px;
                transform: translateY(-2px);
                cursor: pointer;
                &:hover {
                    color: $icon-hover-color;
                }
            }
        }
        .el-menu-item {
            border-bottom: 1px solid #F9F9F9;
            position: relative;
            background-color: $menu-item-bg;
            .menu-icon-style {
                color: #48576A;
                float: right;
                margin-right: 10px;
                transform: translateY(-2px);
                cursor: pointer;
                &:hover {
                    color: $icon-hover-color;
                }
                &:first-child {
                    margin-right: 0;
                }
            }
        }
        ul.el-menu {
            background-color: $menu-bg;
        }
        .el-submenu .el-menu-item:hover {
            background-color: $menu-item-hover;
            color: #48576A;
        }
        .el-submenu .el-submenu__title:hover {
            background-color: $menu-hover;
            color: #48576A;
        }
    }
}

.product-check-cube-right {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 65%;
    background-color: #FFFFFF;
    height: 720px;
    transition: transform .3s ease;
    @extend %cube-shadow;
    .product-title {
        height: 45px;
        line-height: 45px;
        @extend %cube-title;
    }
    .html-check-box {
        position: relative;
        display: inline-block;
        width: 46%;
        margin: 20px 2%;
        max-height: 635px;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .customer-chart-amount-block {
        display: inline-block;
        width: 50%;
        padding: 10px 20px;
        position: relative;
        .customer-buy-chart-box {
            .customer-buy-title {
                line-height: 30px;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .customer-pie-chart {
                width: 100%;
                height: 200px;
            }
        }
        .customer-buy-amount-list {
            .customer-buy-title {
                line-height: 30px;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .customer-amount-list-cube {
                overflow-x: hidden;
                overflow-y: auto;
                .customer-amount-item {
                    height: 59px;
                    line-height: 40px;
                    padding: 10px 0 9px 0;
                    border-bottom: 1px solid #F7F7F7;
                    cursor: pointer;
                    color: #666666;
                    .customer-header {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        border-radius: 50%;
                        font-size: 16px;
                        background-color: #4B77FF;
                        color: #FFFFFF;
                        margin-right: 20px;
                        margin-left: 5px;
                    }
                    .customer-cash-right {
                        display: inline-block;
                        float: right;
                        color: #999999;
                    }
                    &:hover {
                        background-color: #F7F7F7;
                    }
                }
                &::-webkit-scrollbar {
                    display: none;
                }
                .customer-item-empty {
                    height: 60px;
                    line-height: 40px;
                    padding: 10px 0;
                    cursor: pointer;
                    color: #999999;
                    text-align: center;
                }
            }
        }
        .product-list-chart-cube {
            width: 100%;
            height: 650px;
        }
        .empty-customer-bar-chart {
            width: 100%;
            line-height: 600px;
            color: #999999;
            text-align: center;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 670px;
            background-color: #EAEAEA;
        }
    }
}

.product-check-right-chart {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 65%;
    background-color: #FFFFFF;
    height: 720px;
    transition: transform .3s ease;
    @extend %cube-shadow;
    .product-chart-title {
        height: 45px;
        line-height: 45px;
        @extend %cube-title;
    }
    .product-chart-cube {
        .search-by-time-block {
            line-height: 36px;
            padding: 20px 0 20px 40px;
            .el-date-editor.el-input {
                width: 120px;
            }
        }
        .product-chart-item {
            height: 560px;
            margin-top: 20px;
        }
    }
}
