@import "../../../commonstyle/var";
@import "../../../commonstyle/base";

$icon-hover-color: #1C7AFF;

.authority-list-block {
    display: inline-block;
    width: 100%;
    border-radius: 6px;
    height: 720px;
    @extend %cube-shadow;
    .authority-block-title {
        height: 50px;
        line-height: 50px;
        @extend %cube-title;
        .block-control-btn {
            margin: 10px 20px;
            @extend %refresh-btn;
        }
        .block-control-edit {
            margin: 10px 15px 10px 0;
            display: inline-block;
            float: right;
            height: 30px;
            color: #0D93FF;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                color: #FF0000;
            }
        }
    }
    .tree-container {
        height: 670px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.icon-item-style {
    float: right;
    margin-right: 20px;
    color: #999999;
    &:hover {
        color: $icon-hover-color;
    }
}

.input-cube {
    line-height: 36px;
    padding-top: 20px;
    .control-label {
        font-size: 16px;
        text-align: right;
        padding-right: 20px;
    }
}