@import "../../../commonstyle/var";
@import "../../../commonstyle/base";

.query-top-block {
    position: relative;
    background-color: #FFFFFF;
    @extend %cube-shadow;
    .query-top-title {
        height: 50px;
        line-height: 50px;
        @extend %cube-title;
    }
    .search-bar {
        line-height: 36px;
        padding: 20px 20px 0 20px;
        color: #9a9a9a;
        .search-cube {
            display: inline-block;
            width: 300px;
            margin-right: 20px;
        }
        .search-data{
            display: inline-block;
        }
    }
    .search-btn{
        padding: 20px;
        .btn-title{
            float: left;
            margin-right: 20px;
            margin-left: 0 !important;
            margin-bottom: 20px;
            color: #666;
        }
        .active{
            color: #fff;
            background-color: #A878D0;
        }
    }
    .search-btn:after{
        content: '';
        display: block;
        clear: left;
    }
}

.query-bottom-block {
    position: relative;
    background-color: #FFFFFF;
    margin-top: 20px;
    min-height: 650px;
    @extend %cube-shadow;
    .query-top-title {
        height: 50px;
        line-height: 50px;
        @extend %cube-title;
    }
}

.rank-cube {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    .rank-bg {
        font-size: 24px;
    }
    span {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 30px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
    }
}



