@import "../../../commonstyle/var";
@import "../../../commonstyle/base";

.market-block {
    background-color: #FFFFFF;
    min-height: 720px;
    @extend %cube-shadow;
    .market-title {
        height: 50px;
        line-height: 50px;
        @extend %cube-title;
    }
    .market-cube {
        padding: 20px 20px 0 20px;
        .top-cube {
            line-height: 36px;
            margin-bottom: 40px;
        }
    }
}

.rank-cube {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    .rank-bg {
        font-size: 24px;
    }
    span {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 30px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
    }
}
