@import "../../../commonstyle/var";
@import "../../../commonstyle/base";

.task-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 200px;
    padding-bottom: 30px;
    transition: transform .3s ease;
    @extend %cube-shadow;
    .task-title {
        height: 50px;
        line-height: 50px;
        @extend %cube-title;
        margin-bottom: 0;
    }
    .task-list {
        margin-bottom: 40px;
        .list-item {
            padding: 10px 20px;
            border-bottom: 1px solid #EAEAEA;
            .item-icon-cube {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 10px 0 10px 20px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                background-color: #9C78CC;
                color: #FFFFFF;
            }
            .task-item-info {
                display: inline-block;
                line-height: 20px;
                width: 420px;
                margin: 10px 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .task-status-cube {
                display: inline-block;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                text-align: center;
                .task-status-text {
                    width: 44px;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 24px;
                    margin: 18px 8px;
                    transform: rotate(-25deg);
                }
            }
            .task-btn-list {
                display: inline-block;
                float: right;
                line-height: 40px;
                margin: 10px 40px;
                .task-return-btn, .task-detail-btn {
                    font-size: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                    color: #999999;
                    transition: color .5s ease;
                }
                .task-return-btn {
                    color: #EB3941;
                }
                .task-detail-btn {
                    color: #59D064;
                }
                .task-return-btn:hover, .task-detail-btn:hover {
                    color: #20A0FF;
                }
            }
            &:hover {
                background-color: #FAFAFA;
            }
        }
    }
}


.task-detail-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform .3s ease;

    .task-detail-box {
        width: 100%;
        min-height: 200px;
        margin-bottom: 20px;
        @extend %cube-shadow;
        .task-detail-title {
            height: 50px;
            line-height: 50px;
            @extend %cube-title;
            margin-bottom: 0;
            .return-list-btn {
                float: right;
                margin-right: 20px;
                margin-top: 5px;
                cursor: pointer;
                line-height: 20px;
                padding: 10px;
                &:hover{
                    color: #ff4d51;
                }
            }
        }
        .detail-content-box {
            padding: 20px;
            position: relative;
            .task-title-cube {
                margin-bottom: 10px;
                .task-title-item {
                    display: inline-block;
                    max-width: 500px;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .task-type-cube {
                    margin-left: 20px;
                    padding-left: 15px;
                    padding-right: 15px;
                    letter-spacing: 4px;
                }
            }
            .task-detail-content {
                width: 70%;
                color: #999999;
                margin-bottom: 20px;
                word-wrap:break-word;
            }
            .task-time {
                margin-bottom: 20px;
                line-height: 20px;
                .icon-cube {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    color: #FFFFFF;
                    background-color: #F39365;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    margin-right: 10px;
                }
                .task-time-item {
                    margin-right: 40px;
                    color: #777777;
                }
            }
            .user-item-cube {
                position: relative;
                max-width: 70%;
                line-height: 40px;
                div {
                    display: inline-block;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #999999;
                    .icon-show-more-btn {
                        cursor: pointer;
                        color: #3364FF;
                    }
                }
            }
            .template-list-cube {
                max-width: 70%;
                line-height: 40px;
                .file-item {
                    color: #3364FF;
                    cursor: pointer;
                    margin-right: 20px;
                }
            }
            .task-detail-status-cube {
                position: absolute;
                left: 74%;
                top: 30px;
                display: inline-block;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                text-align: center;
                .task-detail-status-text {
                    width: 56px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 40px;
                    margin: 20px 12px;
                    transform: rotate(-25deg);
                }
            }
        }
    }

    .task-progress-block {
        width: 100%;
        min-height: 120px;
        margin-bottom: 20px;
        @extend %cube-shadow;
        .task-progress-title {
            height: 50px;
            line-height: 50px;
            @extend %cube-title;
            .return-list-btn {
                float: right;
                margin-right: 20px;
                margin-top: 5px;
                cursor: pointer;
                line-height: 20px;
                padding: 10px;
                &:hover{
                    color: #ff4d51;
                }
            }
        }
        .task-progress-list-cube {
            padding: 20px;
            .task-progress-item-cube {
                display: inline-block;
                width: 240px;
                text-align: center;
                .task-creator-img-cube {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #20A0FF;
                    color: #FFFFFF;
                    line-height: 40px;
                }
            }
            .middle-dotted-cube {
                display: inline-block;
                position: relative;
                width: 200px;
                height: 20px;
                &:after {
                    content: "";
                    position: absolute;
                    left: -120px;
                    top: 0;
                    width: 440px;
                    height: 20px;
                    border-bottom: 2px dotted #CCCCCC;
                    z-index: -1;
                }
            }
        }
        .task-progress-comment {
            color: #999999;
            margin-bottom: 20px;
            padding: 0 40px;
            .task-progress-comment-content {
                width: 70%;
                word-wrap:break-word;
                display: inline-block;
            }
        }
    }

    .task-user-box {
        width: 100%;
        min-height: 200px;
        margin-bottom: 40px;
        @extend %cube-shadow;
        .task-detail-title {
            height: 50px;
            line-height: 50px;
            @extend %cube-title;
            margin-bottom: 0;
            .return-list-btn {
                float: right;
                margin-right: 20px;
                margin-top: 5px;
                cursor: pointer;
                line-height: 20px;
                padding: 10px;
                &:hover{
                    color: #ff4d51;
                }
            }
        }
        .task-user-left-cube {
            display: inline-block;
            width: 40%;
            margin-right: 10%;
            border-left: 1px solid #EAEAEA;
            border-right: 1px solid #EAEAEA;
            background-color: #F7F7F7;
            .task-user-left-title {
                line-height: 40px;
                padding: 0 20px;
                font-size: 15px;
                border-bottom: 1px solid #EAEAEA;
            }
            .task-user-left-list {
                max-height: 480px;
                min-height: 320px;
                overflow-x: hidden;
                overflow-y: auto;
                margin-bottom: 0;
                //&::-webkit-scrollbar {
                //    display: none;
                //}
                .task-user-left-item {
                    border-bottom: 1px solid #EAEAEA;
                    height: 60px;
                    position: relative;
                    cursor: pointer;
                    .task-user-img-cube {
                        display: inline-block;
                        width: 60px;
                        height: 40px;
                        margin: 10px 0;
                        text-align: center;
                        .task-user-img {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            display: inline-block;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #20A0FF;
                            color: #FFFFFF;
                        }
                    }
                    .task-user-cube-name {
                        display: inline-block;
                        width: 60px;
                        line-height: 60px;
                    }
                    .tell-user-btn {
                        float: right;
                        line-height: 60px;
                        margin-right: 20px;
                        color: #999999;
                        font-size: 18px;
                        cursor: pointer;
                        &:hover {
                            color: #ff4d51;
                        }
                    }
                    .task-progress-cube {
                        position: absolute;
                        left: 120px;
                        right: 100px;
                        top: 10px;
                        bottom: 10px;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 17px;
                            width: 100%;
                            height: 6px;
                            border-radius: 3px;
                            background-color: #D8D8D8;
                        }
                        .task-progress-bar {
                            position: absolute;
                            height: 6px;
                            top: 17px;
                            width: 0;
                            background-color: #5EC29D;
                            border-radius: 3px;
                        }
                        .task-progress-text {
                            position: absolute;
                            color: #5EC29D;
                            left: 100%;
                            font-size: 16px;
                            margin-left: 5px;
                            line-height: 40px;
                        }
                        .task-progress-time-text {
                            position: absolute;
                            left: 0;
                            right: 0;
                            text-align: center;
                            top: 26px;
                            font-size: 12px;
                            line-height: 14px;
                            color: #AAA;
                        }
                    }
                    &:hover {
                        background-color: #EEF1F6;
                    }
                }
                .empty-user-item {
                    text-align: center;
                    color: #999999;
                    line-height: 80px;
                }
                .search-more-btn {
                    text-align: center;
                    color: #999999;
                    line-height: 60px;
                    border-bottom: 1px solid #EAEAEA;
                    cursor: pointer;
                    &:hover {
                        color: #20A0FF;
                    }
                }
            }
        }
        .chart-task-block {
            display: inline-block;
            width: 360px;
            height: 360px;
        }
    }
}


.excel-editor-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @extend %cube-shadow;
    transition: transform .3s ease;
}

.dialog-more-user {
    width: 100%;
    max-height: 240px;
    border: 1px solid #EAEAEA;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
}

//执行记录
.dialog-task-comment {
    color: #999999;
    margin-bottom: 20px;
    .task-progress-comment-content {
        width: 600px;
        word-wrap:break-word;
        display: inline-block;
    }
}
.user-action-tails-block {
    position: relative;
    width: 680px;
    height: 520px;
    border: 1px solid #d1dbe5;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    .user-action-border-right {
        display: inline-block;
        width: 119px;
        height: 100%;
        border-right: 1px solid #D1DBE5;
        background-color: #EEF1F6;
    }
    .user-customer-nav-list {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        height: 100%;
        overflow-y: auto;
        .user-customer-nav-item {
            line-height: 39px;
            text-align: center;
            border-bottom: 1px solid #D1DBE5;
            cursor: pointer;
            transition: all .5s ease;
            color: #8391A5;
            &:hover {
                color: #333333;
            }
        }
        .user-customer-nav-item.active {
            background-color: #FFFFFF;
            color: #20A0FF;
            border-right: 1px solid #FFFFFF;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .tail-list-block {
        position: relative;
        width: 520px;
        margin: 0 18px;
        height: 100%;
        display: inline-block;
        padding-top: 20px;
        .tail-list-cube {
            position: relative;
            width: 100%;
            border: 1px solid #d1dbe5;
            border-bottom: none;
            .tail-list-cube-item {
                padding: 0 10px;
                line-height: 40px;
                border-bottom: 1px solid #d1dbe5;
                background-color: #FFFFFF;
                color: #888888;
                cursor: pointer;
                &:hover {
                    background-color: #EEF1F6;
                }
            }
            .tail-list-cube-info {
                display: none;
                width: 518px;
                height: 260px;
                padding: 15px;
                border-bottom: 1px solid #d1dbe5;
            }
            .map-block {
                position: absolute;
                top: 42px;
                left: 0;
                width: 518px;
                height: 260px;
                padding: 15px;
                background-color: #F7FAFA;
                border-bottom: 1px solid #d1dbe5;
                //z-index: -10;
                .map-cube {
                    width: 486px;
                    height: 228px;
                    border: 1px solid #EAF2F7;
                }
            }
        }
    }
}
